@model IEnumerable<LibraryManagementSystem.Auth_IdentityModel.IdentityModel.User>

@{
    ViewData["Title"] = "Members";
    ViewData["ActivePage"] = "Members";
}

<h3 class="mb-4 fw-bold text-primary">Members</h3>

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Register Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.FullName</td>
                        <td>@m.Email</td>
                        <td>@m.Phone</td>
                        <td>@m.RegisterDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
